html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  cursor: default;
}
::selection {
  color: #f9c076;
  background: transparent;
}
* {
  box-sizing: border-box;
}

pre {
  white-space: pre-line;
}
.hljs {
  padding: 1rem;
  font-size: 1rem;
  background: white;
  text-shadow: 0rem 0.03rem 0.05rem black;
  border: 0.05rem solid black;
  color: pink;
}
.hljs-comment,
.hljs-quote {
  color: #586e75;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-addition {
  color: #f98c76;
}
.hljs-number,
.hljs-string,
.hljs-doctag,
.hljs-regexp {
  color: #66ba8e;
}
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-name {
  color: #ffbb56;
}
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type,
.hljs-tag {
  color: #dc911f;
}
.hljs-attribute {
  color: #b89859;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-subst,
.hljs-meta {
  color: #cb4b16;
}
.hljs-deletion {
  color: #dc322f;
}
.hljs-selector-id,
.hljs-selector-class {
  color: #d3a60c;
}
.hljs-formula {
  background: #1f8aa5;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
